/* @import '~antd/dist/antd.less'; */
/* @import 'your-theme-file.less'; // variables to override above */

@import '~antd/dist/antd.css';

a.selected {
  font-weight: bold;
}

.ant-layout-header {
  background-color: #ccc;
}

.ant-layout-sider-zero-width-trigger {
  top: 0;
}
